body {
    margin: 0;
    font-family: Arial;
    background: #0b1a33;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* SOAT */
.top-clock {
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
    color: #38bdf8;
    font-weight: bold;
}

/* BOX */
.box {
    background: #1e2a3f;
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}

/* TAB */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #334155;
    color: white;
    cursor: pointer;
}

.tabs .active {
    background: #22c55e;
}

/* TIME */
.time {
    font-size: 40px;
    margin: 20px 0;
}

/* INPUT */
input {
    width: 70px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

/* BUTTON */
.buttons button {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.start {
    background: #22c55e;
}

.pause {
    background: #ef4444;
}

.reset {
    background: #3b82f6;
}

.hidden {
    display: none;
}